.item
  display: flex
  padding: 5px
  margin: 1px
  background: #f7f7f7
  &:hover
    background: #f1f1f1
  & .icon-container
    margin-left: 5px
    margin-right: 5px

.state
 &.open
  color: #28a745
 &.closed
  color: #d73a49
