@import './styles/variables.sass'

a
  &,
  &:hover,
  &:focus,
  &:visited
    color: $text-color
    text-decoration: none

  &:hover
    color: $primary-color

.app
  margin: 0 auto
  max-width: 780px
